img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

text-icon {
    width: 30px;
    height: 30px;
}

fieldline {
    width: 2px;
}

div.main-content {
    padding-top: 15px;
}

blockquote {
    border-left: 10px solid;
    border-color: lightgray;
    font-style: italic;
    margin-left: 0.5rem;
    padding-left: 1rem;
}

.navbar-nav>li>a::after {
    content: '/';
    padding-left: 0.5rem;
    @media (max-width: 767px) {
        content: none;
        padding-left: 0;
    }}

.navbar-nav>li:last-child>a::after {
    content: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
